/* —войства всего документа */

html, body 
{
  	font:14px Arial, Helvetica, sans-serif;
  	color:#333;
  	background:Lavender;
  	text-align:center;
  	
}

.header
{
	margin:0 auto;
	width:80%;
	height:100%;
	background:Lavender;
	border-collapse: separate; 
}

/* —войства основной таблицы */
.table
{	
	width:100%;
	height:100%;
}
/* —войства таблицы дл€ формы почтового отправлени€*/
.tableForm
{	
	width:95%;
}
/* ќбщие свойства верхней, нижней части сайта, области контента и меню */
.top, .content, .menu, .bottom
{
	width:100%;
  	height:100%;
}
/* ƒополнительные свойства верхней части сайта */
.top
{
	border-spacing:3;
	background:DarkCyan;
	border-collapse: separate; 
        border-radius:8px 8px 8px 8px;
}
.logotip {
	float:right;
    	margin: 30px 30px 30px 30px ;
    	width: 300px;
    	height: 100px;
}
.text-logotip {
   	 position: relative;
   	 margin: 5px 0 0 30px;
  	 font-size: 30px;
   	 font-weight: 600;
   	 line-height: 40px;
   	 font-family: Bahnschrift;
   	 color :Gainsboro;

}

/* —войства нижней части сайта */
.bottom
{       margin-top: 30px;
	text-align:center;
	font-size:11px;
	color:#432973;
	background:Lavender;
        line-height: 25px;
        border-radius: 10px;
      
}
.bottom1
{       
	font-weight:bold ;
	font-size:15px;
	text-align:center;
}

/* ќбщие свойства областей контента и меню */
.menu_td, .content_td
{
	border:1px;
	border-radius:10px;
	vertical-align:top;
	text-align:left;
	padding:20px 20px;
        position:relative;

}
/* ƒополнительные свойства области меню */
.menu_td
{
         background:#432973;
         text-align:center;
	 font-size:20px;
         font-family: Bahnschrift;
		 background: gray;		 
}
.a {
 	 border-radius: 6px;
 	 color:  #36454A;
	 background: #ffffff; 
 	 box-shadow: 5px 5px 5px black;
 	 display: block;
 	 text-decoration: none;
 	 margin-top: 20px;
}

/* ƒополнительные свойства области основного контента*/
.content_td
{
	font-size:20px;
	vertical-align: middle;
}

/*—войства заголовка*/
.h3 
{
	margin: 30px 100px 20px 0px;
	text-align:center;
}

.td {
          border: 1px solid black; 
          border-collapse: collapse;
 	  background: #ffffff;
}

.table_td_tr {
            
          width:60%;
	  height:250px;
          border: 1px solid black; 
          border-collapse: collapse;
}

.fio {
          width:325px;  	 
}

.fio1 {
          width:355px;  	 
}
.tdT
{
 	width:25%;
	height: 75%;
}


